/* Style the tab */
.tab {
  overflow: hidden;
  
  background-color: rgb(168, 25, 25);
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size:18px;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(130, 17, 17);
  color: rgb(153, 147, 147);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(168, 25, 25);
  color: rgb(168, 25, 25);
}

button {
	rgb(168, 25, 25);
	}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(168, 25, 25);
  border-top: none;
  
  
}

.tabtext {
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: rgb(0, 0, 102);
	
	}

.more {
  
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  clear: both;
}

.more a {
  background: rgb(168, 25, 25);
  
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
}

.more a:hover {
  background: white;
  border: 1px solid rgb(130, 17, 17);
  color: rgb(130, 17, 17);
}

* {
	box-sizing: border-box;
	}


footer {
	font-size: 20px;
	}
.bg
{
  width: 100%;
  z-index: 0;
}

.header {
	padding: 10px 16px;
	}

h1 {
	font-family: 'Arial', sans-serif;
	font-size: 30px;
	color: white;
	}

body {
	background: rgb(47, 135, 101);
	margin: 0 auto;
	padding:0 auto;
	}

p, a, h2, h3, h4, ul, ol {
	color: white;
	font-size: 20px;
    font-family: 'Arial', sans-serif;
	}



header {
    background-color: rgb(192, 209, 198);
}

img.sticky {  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 200px;
}

.zoom {
  padding: 100px;
  transition: transform .2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
